openapi: 3.0.3
info:
  title: CrackStation
  description: |-
   This is an API for decrypting/cracking any single, double or three character password which matches the regex [A-Za-z0-9?!]{1,3}. This will only crack unsalted hashes.
   for eg: Provide a Hash for aa, Ka, !!!, A5?, b and it will decrypt the hash and provide you the correct encypted output.
  version: 1.0.0
servers:
  - url: https://5xduexoja5.execute-api.us-east-1.amazonaws.com/
tags:
  - name: crackstation
    description: crack sha1 and sha256 passwords
paths:
  /password/{hash}:
    get:
      tags:
        - crackstation
      summary: Get decrypted password by providing hash
      operationId: getPasswordbyHash
      parameters:
        - name: hash
          in: path
          description: 'The password that needs to be decrypted. '
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Decrypted
          content:
            application/json:
              schema:
                type: object
                example: {"45345345345": "c"}
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: string
                example: "Error: Invalid API route"
        '404':
          description: Crackstation cannot Decrypt the password.
          content:
            application/json:
              schema:
                type: string
                example: "Decryption failed: value does not exist in lookup table"
                  
  

